---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/lightbox.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{ "/assets/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>

</head>
<body>

<header>
	<div class="bkg"></div>

	<div class="logo"><img src="assets/img/logo.png" alt="logo"></div>

	<div class="navcontainer">
		<ul class="nav">
			<li><a href="#about">About</a></li>
			<!-- <li><a href="#fields">Fields</a></li> -->
			<li><a href="#work">Work</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>

</header>

<div class="contentWrap">
<section id="about" class="about">
	<h3>ABOUT.</h3>
	<p>
		<strong>C & M Site Logistics Services</strong>  an established and Effective Organization with 30 years Experience and Internationally Trained in <em>Materials Management</em> , <em>Warehousing Inventory</em> , <em>Construction Site Management</em> and <em>Site Setups</em>. Our Efficient and Professional Staff operate with one Objective and that is to appease all avenues in carrying out the Movement and Co-ordination of Materials , and all aspects of Operations that deal with design and development , acquisitions , Storage ,distribution ,evacuation and disposition of Materials , adhering to all OSH Health an Safety Rules and Regulations.

	</p>
</section>

<div class="division">

</div>

<section id="work" class="work">
	<h3>WORK.</h3>
	<div class="workcontainer">
		<div class="work1">
			<!-- <div class="sectionimage"><img src="assets/img/img3.jpg" alt="img3"></div> -->
			<p>Our Competent and reliable Staff is internationally trained  and Certified in Materials Co-ordination, Materials Management , as a Priority the Objective is to be Traceable and Accountable in our businesses at hand with the highest level of Integrity.</p>		

		</div>
	</div>

	<div class="photos">
		<a href="https://dl.dropboxusercontent.com/u/41879215/cmsls/img1.JPG" alt="cmsls_photo" data-lightbox="cmsls">
			<img src="https://dl.dropboxusercontent.com/u/41879215/cmsls/img1.JPG" alt="cmsls_photo">
		</a>

		<a href="https://dl.dropboxusercontent.com/u/41879215/cmsls/img2.JPG" alt="cmsls_photo" data-lightbox="cmsls">
			<img src="https://dl.dropboxusercontent.com/u/41879215/cmsls/img2.JPG" alt="cmsls_photo">
		</a>

		<a href="https://dl.dropboxusercontent.com/u/41879215/cmsls/img5.JPG" alt="cmsls_photo" data-lightbox="cmsls">
			<img src="https://dl.dropboxusercontent.com/u/41879215/cmsls/img5.JPG" alt="cmsls_photo">
		</a>

		<a href="https://dl.dropboxusercontent.com/u/41879215/cmsls/img6.JPG" alt="cmsls_photo" data-lightbox="cmsls">
			<img src="https://dl.dropboxusercontent.com/u/41879215/cmsls/img6.JPG" alt="cmsls_photo">
		</a>

	</div>


</section>

<div class="division">

</div>

<section id="contact" class="contact">

	<h3>CONTACT.</h3>

	<div class="contact-more">
		<div class="phone"><p><strong><u>Neil Charran</u></strong> <br> <br> phone : +1 (868) 687-6345</p><p> email : <a href="mailto:ncharran@ymail.com">ncharran@ymail.com</a></p></div>

		<p class="ps"><em>| or use the form below to directly send an email |</em></p>
	</div>

	<div class="formcontainer">
		<form method="POST" action="//formspree.io/ncharran@ymail.com">
	
			<div class="contact_group">
				<label>
			    	<input type="text" name="name" placeholder="Enter Your Name">
				</label>
	
			    <label>
			    	<input type="email" name="_replyto" placeholder="Enter Your Email">
				</label>
		    </div>
		    
		    <label>
		    	<textarea name="message" placeholder="Enter Your Message"></textarea>
			</label>
	
		    <label>
		    	<input type="submit" value="Send">
		    </label>
		</form>
	</div>

</section>
</div>

<footer>
	<div class="footnotes">
		<div class="facebook">
		<a href="http://www.facebook.com" target="_blank"><svg height="50px" id="Layer_1" style="enable-background:new 0 0 67 67;" version="1.1" viewBox="0 0 67 67" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M28.765,50.32h6.744V33.998h4.499l0.596-5.624h-5.095  l0.007-2.816c0-1.466,0.14-2.253,2.244-2.253h2.812V17.68h-4.5c-5.405,0-7.307,2.729-7.307,7.317v3.377h-3.369v5.625h3.369V50.32z   M33,64C16.432,64,3,50.569,3,34S16.432,4,33,4s30,13.431,30,30S49.568,64,33,64z" style="fill-rule:evenodd;clip-rule:evenodd;fill:#D8D9D8;"/>
				</svg></a>
	</div>
		<h3>C&M Site Logistics Services</h3>
		<h4></em>"{{ site.mission }}"</em></h4>
		<p>all rights reserved 2015 ©</p>
		<p>Designed and Developed by Josiah Maharaj</p>
	</div>	
</footer>

</body>
</body>
</html>